$font-main: "ChakraPetch-Regular";
$font-second: "ChakraPetch-Bold";
$font-italBold: "ChakraPetch-BoldItalic";

@import "fonts";

@import "index/body";
@import "index/headerNav";
@import "index/busqueda";
@import "index/sugeridos";
@import "index/tendencias";

@import "captura/header";
@import "captura/capturar";
@import "captura/video.scss";
@import "captura/resultado";
@import "captura/guifos";