section#grabadora {
    display: none;
}

div#grabar {
    height: 548px;
    max-width: 860px;
    padding: 2px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    div#cont-video {
        margin: 11px 17px 24px 11px;
        height: 434px;
        max-width: 832px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;

        video{
            max-height: 434px;
        }

        img#vista {
            display: none;
            height: 434px;
            max-width: 832px;
        }

        div#carga {
            display: none;
            flex-direction: column;
            align-items: center;
            height: 434px;
            width: 832px;

            img {
                height: 48px;
                width: 48px;
                margin-top: 139px;
                margin-bottom: 8px;
            }

            span.bold {
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                text-align: center;
                line-height: 22px;
            }

            div#barra-upload {
                display: flex;
                flex-direction: row;
                height: 24px;
                width: 324px;
                background: #B4B4B4;
                box-shadow: inset 2px 2px 0 0 #000000; /* inset -2px -2px 0 0 #FFFCFC; */
                margin-top: 39px;
                margin-bottom: 8px;
                padding-left: 2px;

                .cuadrito {
                    height: 22px;
                    width: 12px;
                    margin: 2px 2px 0px 0px;
                    background: #999999;
                }
            }

            span#chico {
                font-family: $font-main;
                font-size: 12px;
                color: rgba(17,0,56,0.64);
                letter-spacing: 0;
                text-align: center;
                line-height: 14px;
            }
        }
    }

    div#btn-video {
        margin: 21px 16px 16px 11px;

        button#camera, button#recording {
            width: 36px;
            padding: 7px;
        }

        div#subir button {
            margin-left: 14px;
        }
    }

    div#listo, div#subir, div#subiendo {
        display: none;
    }
}

.btn-listo {
    @include boton;
    background: #FF6161;
    color: #FFFFFF;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;

    &:hover {
        outline: 1px dotted #110038;
        outline-offset: -4px;
    }
}

.no-border-left {
    border-left-style: none;
}

.no-border-right {
    border-right-style: none;
}