section#busqueda {
    div#barra {
        padding: 1px;
        height: 99px;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

        h2 {
            display: block;
            height: 24px;
            margin: 2px;
            padding-left: 3px;
            font-family: $font-second;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 24px;
        }
        div#buscador{
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                flex: 80%;
                height: 48px;
                margin: 12px 8px 12px 15px;
                padding-left: 16px;
                border: 1px solid #979797;
                box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            }

            button {
                @include boton;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 102px;
                margin-right: 18px;
                padding-left: 10px;
                padding-right: 14px;

                &:disabled {
                    background: #F0F0F0;
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                    font-family: $font-main;
                    font-size: 16px;
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 36px;
                }

                img {
                    height: 16px;
                    width: 16px;
                    margin-right: 10px;
                }
            }
        }
    }

    div#btn-resultados {
        display: none;
        flex-direction: column;
        padding: 10px 0px 10px 15px;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

        button {
            flex: 80%;
            margin: 5px 129px 5px 0px;
            padding-left: 15px;
            text-align: left;
            font-family: $font-main;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 36px;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
    }
}