header {
    div#top {
        display: block;
        height: 23px;
        margin: 1px;
    }

    h1 {
        margin-left: 8px;
        font-family: $font-main;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 23px;
    }
}

div#logo {
    height: 64px;
    width: 102px;
}

@mixin boton {
    border: 1px solid #110038;
    height: 36px;
    width: 135px;
    font-size: 16px;
    font-family: $font-main;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.button-theme {
    @include boton;
}

.button-secondary {
    @include boton;
}

nav {
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div#botones {
        justify-content: space-around;

        button#dropbtn {
            width: 36px;
            padding: 5px 13px;
        }
        
        div#dropdown {
            display: none;
            position: absolute;
            right: 219px;
            width: 160px;
            padding: 5px;

            button {
                width: 150px;
                margin: 5px;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                font-family: $font-main;
                font-size: 16px;
                color: #110038;
                letter-spacing: 0;
                line-height: 22px;
            }
        }

        a {
            margin-left: 10px;
            font-family: $font-main;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: none;

            span {
                text-decoration: underline;
            }
        }
    }
}