$shadow2: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$path-logo: "../../images/gifOF_logo_dark.png";
$path-arrow: "../../images/back-arrow-white.svg";

body {
    background-color: #151839;
}

.button-theme, button#btn-search {
    background: #EE3EFE;
        color: #FFFFFF;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;

        &:hover {
            background: #CE36DB;
            outline: 1px dotted #110038;
            outline-offset: -4px;
        }
}

.back-grey {
    background: #B4B4B4;
}

.shadow2 {
    box-shadow: $shadow2;
}

.button-secondary {
    background: #110038;
    color: #FFFFFF;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;

    &:hover {
        outline: 1px dotted white;
        outline-offset: -4px;
    }
}

.frame-prompt {
    .gif {
        button {
            background: #2E32FB;
        }
    }
}

div#back-arrow {
    background-image: url($path-arrow);
    background-position: center;
    background-repeat: no-repeat;
}

div#logo {
    background-image: url($path-logo);
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    div#botones{
        a {
            height: 32px;
            color: #FFFFFF;

            &:hover {
                outline: 1px dotted #FFFFFF;
                outline-offset: 6px;
            }
        }

        div#dropdown {
            button {
                background: #CCCCCC;

                &:hover {
                    background: #2E32FB;
                    border: 1px solid rgba(51,53,143,0.20);
                    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
                }
            }
        }
    }
}

section#busqueda {
    div#btn-resultados {
        button {
            background: #CCCCCC;

            &:hover {
                background: #B4B4B4;
                box-shadow: $shadow2;
            }
        }
    }


}

section#resultado {
    span.bold {
        color: #FFFFFF;
    }
}