@font-face {
  font-family: "ChakraPetch-Regular";
  src: url("../fonts/Chakra_Petch/ChakraPetch-Regular.ttf"); }
@font-face {
  font-family: "ChakraPetch-Bold";
  src: url("../fonts/Chakra_Petch/ChakraPetch-Bold.ttf"); }
@font-face {
  font-family: "ChakraPetch-BoldItalic";
  src: url("../fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf"); }
* {
  padding: 0px;
  margin: 0px; }

.back-grad {
  display: block;
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); }
  .back-grad span {
    padding-left: 5px;
    font-family: "ChakraPetch-Bold";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0; }

.hash-bar {
  display: none;
  height: 18px; }

.frame-container {
  display: grid;
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-gap: 2%;
  justify-content: center; }

main {
  padding: 35px 140px 0px 100px; }
  main section {
    margin-bottom: 64px; }

.title {
  width: 99%;
  height: 32px;
  margin-bottom: 16px;
  padding-left: 7px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  font-family: "ChakraPetch-Regular";
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 32px; }

header div#top {
  display: block;
  height: 23px;
  margin: 1px; }
header h1 {
  margin-left: 8px;
  font-family: "ChakraPetch-Regular";
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 23px; }

div#logo {
  height: 64px;
  width: 102px; }

.button-theme {
  border: 1px solid #110038;
  height: 36px;
  width: 135px;
  font-size: 16px;
  font-family: "ChakraPetch-Regular";
  letter-spacing: 0;
  text-align: center;
  line-height: 18px; }

.button-secondary {
  border: 1px solid #110038;
  height: 36px;
  width: 135px;
  font-size: 16px;
  font-family: "ChakraPetch-Regular";
  letter-spacing: 0;
  text-align: center;
  line-height: 18px; }

nav {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  nav div#botones {
    justify-content: space-around; }
    nav div#botones button#dropbtn {
      width: 36px;
      padding: 5px 13px; }
    nav div#botones div#dropdown {
      display: none;
      position: absolute;
      right: 219px;
      width: 160px;
      padding: 5px; }
      nav div#botones div#dropdown button {
        width: 150px;
        margin: 5px;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        font-family: "ChakraPetch-Regular";
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px; }
    nav div#botones a {
      margin-left: 10px;
      font-family: "ChakraPetch-Regular";
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 18px;
      text-decoration: none; }
      nav div#botones a span {
        text-decoration: underline; }

section#busqueda div#barra {
  padding: 1px;
  height: 99px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  section#busqueda div#barra span {
    display: block;
    height: 24px;
    margin: 2px;
    padding-left: 3px;
    font-family: "ChakraPetch-Bold";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 24px; }
  section#busqueda div#barra div#buscador {
    display: flex;
    flex-direction: row;
    align-items: center; }
    section#busqueda div#barra div#buscador input {
      flex: 80%;
      height: 48px;
      margin: 12px 8px 12px 15px;
      padding-left: 16px;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
    section#busqueda div#barra div#buscador button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 36px;
      margin-right: 18px;
      padding-left: 10px;
      padding-right: 14px;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      font-family: "ChakraPetch-Regular";
      font-size: 16px;
      color: #B4B4B4;
      letter-spacing: 0;
      line-height: 36px; }
      section#busqueda div#barra div#buscador button img {
        height: 16px;
        width: 16px;
        margin-right: 10px; }
section#busqueda div#btn-resultados {
  display: none;
  flex-direction: column;
  padding: 10px 0px 10px 15px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  section#busqueda div#btn-resultados button {
    flex: 80%;
    margin: 5px 129px 5px 0px;
    padding-left: 15px;
    text-align: left;
    font-family: "ChakraPetch-Regular";
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 36px;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }

.frame-prompt {
  padding: 2px;
  height: auto;
  width: auto; }

.top-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  height: 24px; }
  .top-bar .btn-x {
    margin-right: 4px; }

.title-text {
  margin-left: 2px;
  padding-left: 5px;
  font-family: "ChakraPetch-Bold";
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0; }

.gif {
  display: flex;
  flex-direction: row;
  height: 250px; }
  .gif img {
    height: auto;
    width: 100%; }
  .gif button {
    height: 34px;
    position: absolute;
    align-self: flex-end;
    margin-left: 14px;
    padding: 8px 10px;
    transform: translateY(-9px);
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: "ChakraPetch-Regular";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px; }

.frame-trending {
  padding: 2px;
  display: flex;
  flex-direction: column;
  height: 298px; }
  .frame-trending .gif {
    height: 298px; }
  .frame-trending:hover {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  .frame-trending:hover div.back-grad {
    display: block; }

header img {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 60px;
  margin-bottom: 20px; }
header div#logo {
  display: inline-block;
  margin-left: 7px; }

.bold {
  font-family: "ChakraPetch-Bold"; }

.italic-bold {
  font-family: "ChakraPetch-BoldItalic"; }

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

section#capturar, #grabadora, #resultado {
  display: flex;
  flex-direction: column;
  align-items: center; }
  section#capturar div#crear, #grabadora div#crear, #resultado div#crear {
    padding: 2px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    max-width: 684px; }
    section#capturar div#crear div#icon-title, #grabadora div#crear div#icon-title, #resultado div#crear div#icon-title {
      display: flex;
      flex-direction: row; }
      section#capturar div#crear div#icon-title img, #grabadora div#crear div#icon-title img, #resultado div#crear div#icon-title img {
        margin: 30px 16px 7px 25px; }
      section#capturar div#crear div#icon-title h1, #grabadora div#crear div#icon-title h1, #resultado div#crear div#icon-title h1 {
        margin-top: 30px;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px; }
    section#capturar div#crear div#texto, #grabadora div#crear div#texto, #resultado div#crear div#texto {
      margin: 7px 93px 28px 73px;
      font-family: "ChakraPetch-Regular";
      font-size: 14px;
      color: #110038;
      letter-spacing: 0;
      line-height: 20px; }
      section#capturar div#crear div#texto p, #grabadora div#crear div#texto p, #resultado div#crear div#texto p {
        margin-bottom: 5px; }
    section#capturar div#crear div#btn-crear, #grabadora div#crear div#btn-crear, #resultado div#crear div#btn-crear {
      margin-right: 36px;
      margin-bottom: 36px; }
      section#capturar div#crear div#btn-crear button, #grabadora div#crear div#btn-crear button, #resultado div#crear div#btn-crear button {
        margin-left: 16px; }

section#grabadora {
  display: none; }

div#grabar {
  height: 548px;
  max-width: 860px;
  padding: 2px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  div#grabar div#cont-video {
    margin: 11px 17px 24px 11px;
    height: 434px;
    max-width: 832px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
    div#grabar div#cont-video video {
      max-height: 434px; }
  div#grabar div#btn-video {
    margin: 21px 16px 16px 11px; }
    div#grabar div#btn-video button#camera, div#grabar div#btn-video button#recording {
      width: 36px;
      padding: 7px; }
    div#grabar div#btn-video div#subir button {
      margin-left: 14px; }
  div#grabar div#listo, div#grabar div#subir, div#grabar div#subiendo {
    display: none; }

.btn-listo {
  border: 1px solid #110038;
  height: 36px;
  width: 135px;
  font-size: 16px;
  font-family: "ChakraPetch-Regular";
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: #FF6161;
  color: #FFFFFF;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF; }
  .btn-listo:hover {
    outline: 1px dotted #110038;
    outline-offset: -4px; }

.no-border-left {
  border-left-style: none; }

.no-border-right {
  border-right-style: none; }

section#resultado {
  display: none; }

div#result {
  height: 391px;
  width: 721px;
  padding: 2px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
  div#result div#ver-result {
    display: flex;
    flex-direction: row;
    margin-top: 29px; }
    div#result div#ver-result div#reproducir {
      height: 191px;
      width: 365px;
      margin: 0px 27px;
      background: #FFFFFF;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }
    div#result div#ver-result div#btn-result {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      div#result div#ver-result div#btn-result button {
        width: 256px;
        margin-top: 16px;
        margin-right: 46px; }
  div#result div#listo2 {
    margin-top: 64px;
    margin-right: 46px; }

section#misguifos div.frame-trending {
  display: none; }

/*# sourceMappingURL=styles.css.map */
